BREVO_API_KEY=replace-with-brevo-api-key
BREVO_LIST_ID=3
BREVO_SAMPLE_SENDER_EMAIL=updates@tradehustl3.com
STRIPE_WEBHOOK_SECRET=replace-with-stripe-webhook-signing-secret
STRIPE_EBOOK_PAYMENT_LINK_ID=replace-with-plink-id
